# JavaScript dependencies
node_modules

# PureScript dependencies
.spago

# PureScript output
output

# Webpack prod output
dist

# PureScript tooling
.psc-ide-port

# Dead Code Eliminated (zephyr) output
dce-output
