# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - run: sudo npm install -g yarn
      - uses: actions/checkout@v2
      - run: yarn install
      - run: yarn test
